<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-color: #d0d0d0;

        }

        #first {
            padding: 10px;
            border-radius: 5px;
            background-color: #fff;
        }

        button {
            padding: .5rem 1rem;
            border: none;
            border-radius: 2px;
        }
    </style>
</head>

<body>
    <div id="first">
        <h5>Inventory</h5>
        <h6>The tool Model No: L43245 has been picked up by the courier service for servicing in Hilti
            service centre due to the identified fault .................. (fault description-rpm/voltage/current drawn
            etc)/regular maintenance. Please check for spare availability for on time servicing of the tool and return
            to the customer at the earliest.</h6>

        <!-- <button style="background: linear-gradient(to right, #243B55, #141E30) !important; color: white;">
            <a href="https://www.hilti.in/content/hilti/A2/IN/en/services/tool-services/tool-service-.html"
                style="text-decoration: none; color: white;">Click here</a>
        </button> -->
        <br>
        <br>
        <br>
    </div>
    <p><b>Thank you and Regards</b></p>
    <p><b>Team HTOT</b></p>
</body>

</html>