<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-color: #d0d0d0;

        }

        #first {
            border-radius: 5px;
            background-color: #fff;
        }

        button {
            padding: .5rem 1rem;
            border: none;
            border-radius: 2px;
        }
    </style>
</head>

<body>
    <div id="first">
        <h4>The tool Serial number L6880 needs service. Please contact Hilti Service by clicking the following link</h4>

        <button style="background: linear-gradient(to right, #243B55, #141E30) !important; color: white;">
            <a href="https://www.hilti.in/content/hilti/A2/IN/en/services/tool-services/tool-service-.html"
                style="text-decoration: none; color: white;">Click here</a>
        </button>
        <br>
        <p>To schedule pick up for your tool for servicing, please click on the link below.</p>
        <a href="http://127.0.0.1:5000/?schedule=True">Schedule tool pick up</a>
        <br>
        <p>Visit the dashboard to know more.</p>
        <a href="http://127.0.0.1:5000/manage_tools">Dashboard</a>
        <br>
    </div>
    <p><b>Thank you and Regards</b></p>
    <p><b>Team HTOT</b></p>
    <img src="../../static/icons/HTOT LOGO.png" height='100' width='100' alt="HTOT Logo" srcset="">
</body>

</html>