{% extends 'base_template.html' %}
{% block link %} {% endblock %}
{% block title %} Dashboard {% endblock %}
{% block main %}
{% include 'sidebar.html' %}
<div class="main-panel" id="main-panel">
  <!-- Navbar -->
  {% include 'navbar.html' %}
  <!-- End Navbar -->
  <div class="panel-header panel-header-lg">
    <div id="chartdiv"></div>
  </div>

  <!-- <div class="panel-header panel-header-lg">
    <canvas id="barChart"></canvas>
  </div> -->

  <div class="content panel-newbgcolor" style="margin-top: -5px;">
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="card card-chart">
          <div class="card-header">
            <h5 class="card-category">Torque [Nm]</h5>
            <h4 class="card-title" id="rotational_speed">40 Nm</h4>
            <div class="dropdown">
              <button type="button"
                class="btn btn-round btn-outline-default dropdown-toggle btn-simple btn-icon no-caret"
                data-toggle="dropdown">
                <i class="now-ui-icons loader_gear"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="#">Daily</a>
                <a class="dropdown-item" href="#">Weekly</a>
                <a class="dropdown-item" href="#">Monthly</a>
                <a class="dropdown-item text-danger" href="#">Remove Data</a>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="chart-area">
              <canvas id="lineChart"></canvas>
            </div>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="now-ui-icons loader_refresh spin"></i> Just Updated
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card card-chart">
          <div class="card-header">
            <h5 class="card-category">Temperature [K]</h5>
            <h4 class="card-title" id="temperature">300 K</h4>
            <div class="dropdown">
              <button type="button"
                class="btn btn-round btn-outline-default dropdown-toggle btn-simple btn-icon no-caret"
                data-toggle="dropdown">
                <i class="now-ui-icons loader_gear"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="#">Daily</a>
                <a class="dropdown-item" href="#">Weekly</a>
                <a class="dropdown-item" href="#">Monthly</a>
                <a class="dropdown-item text-danger" href="#">Remove Data</a>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="chart-area">
              <canvas id="barChart"></canvas>
            </div>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="now-ui-icons loader_refresh spin"></i> Just Updated
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="card card-chart">
          <div class="card-header">
            <h5 class="card-category">Rotational Speed [RPM]</h5>
            <h4 class="card-title" id="torque_">1052.7 rpm</h4>
          </div>
          <div class="card-body">
            <div class="chart-area">
              <div id="myChart4"></div>
            </div>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="now-ui-icons loader_refresh spin"></i> Just Updated
            </div>
          </div>
        </div>
      </div>
    </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card card-chart" style="height: 95.5%;">
        <div class="card-header">
          <h5 class="card-category">Machine Failure Count</h5>
          <!-- <h4 class="card-title" id="temperature">300 K</h4> -->
        </div>
        <div class="card-body">
          <div class="chart-area">
            <canvas id="doughnutChart"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h5 class="card-category"></h5>
          <h3 class="card-title">STATS </h3>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  Parameters
                </th>
                <th>
                  Range
                </th>
                <th>
                  min
                </th>
                <th class="text-right">
                  max
                </th>
              </thead>
              <tbody>
                <tr>
                  <td>
                    Rotational Speed
                  </td>
                  <td id="rpm">
                    
                  </td>
                  <td>
                    1181
                  </td>
                  <td class="text-right">
                    2886
                  </td>
                </tr>
                <tr>
                  <td>
                    Process Temperature
                  </td>
                  <td id="process">
                    
                  </td>
                  <td>
                    305.7
                  </td>
                  <td class="text-right">
                    313.8
                  </td>
                </tr>
                <tr>
                  <td>
                    Air Temperature
                  </td>
                  <td id="air">
                    
                  </td>
                  <td>
                    295.3
                  </td>
                  <td class="text-right">
                    304.5
                  </td>
                </tr>
                <tr>
                  <td>
                    Torque
                  </td>
                  <td id="torque">
                    
                  </td>
                  <td>
                    3.8
                  </td>
                  <td class="text-right">
                    76.6
                  </td>
                </tr>
                <tr>
                  <td>
                    Tool Wear
                  </td>
                  <td id="toolwear">
                    
                  </td>
                  <td>
                    0
                  </td>
                  <td class="text-right">
                    251
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class=" container-fluid ">
      <nav>
      </nav>
      <div class="copyright" id="copyright">
        &copy;
        <script>
          document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))
        </script>, Designed by <a href="" target="_blank">HTOT</a>. Coded by <a href="" target="_blank">Shounak &
          Taha</a>.
      </div>
    </div>
  </footer>

{% block script %}

<!-- Chart JS -->
<script src="{{url_for('static',filename='assets/js/plugins/chartjs.min.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/main.js') }}"></script>

<script>
</script>

{% endblock %}

{% endblock %}