{% extends 'base_template.html' %}

{% block link %}
<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
        name='viewport' />
<!--     Fonts and icons     -->
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<!-- CSS Files -->
<link href="../assets/css/bootstrap.min.css" rel="stylesheet" />
<link href="../assets/css/now-ui-dashboard.css?v=1.5.0" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/styles.css') }}">
{% endblock %}

{% block title %}
Tool Location
{% endblock %}

{% block main %}
{% include 'sidebar.html' %}
<div class="wrapper ">
        <div class="main-panel" id="main-panel">
                <!-- Navbar -->
                {% include 'navbar.html' %}
                <!-- End Navbar -->
                <div class="panel-header panel-header-sm">
                </div>
                <div class="content">
                        <div class="row">
                                <div class="col-md-12">
                                        <div class="card ">
                                                <div class="card-header ">
                                                        Google Maps
                                                </div>
                                                <div class="card-body ">
                                                        <div id="map" class="map"></div>
                                                </div>
                                        </div>
                                </div>
                                {% include 'tables.html' %}
                        </div>
                </div>
        </div>
</div>
{% endblock %}

{% block script %}
<script>
  // console.log({{mapdb}});
</script>
<script src="{{ url_for('static', filename='map_data.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/index.js') }}"></script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBLew1RrPesyP9dC9yI907tMzMU4H_Gz0g&callback=initMap">
        </script>
{% endblock %}