{% set active_page = url_for(request.endpoint) %}

<div class="wrapper" style="position: absolute;">
    <div class="sidebar">
        <div class="logo">
            <a href="{{ url_for('site.index') }}" class="simple-text logo-mini">
                HILTI
            </a>
            <a href="{{ url_for('site.index') }}" class="simple-text logo-normal">
                HTOT
            </a>
        </div>

        <div class="sidebar-wrapper" id="sidebar-wrapper">
            <ul class="nav">

                <li {% if active_page == "/" %} class="active" style="color: #141E30;"{%endif
                    %}>
                    <a href="{{ url_for('site.index') }}">
                        {% if active_page == "/" %}
                        <i class="now-ui-icons business_bank" style="color: #141E30;"></i>
                        <p style="color: #141E30;">Home</p>
                        {% else %}
                        <i class="now-ui-icons business_bank"></i>
                        <p>Home</p>
                        {% endif %}
                    </a>
                </li>
                
                {% if session['logged_in']==True  %}
                <li {% if active_page == "/user_profile" %} class="active"{% endif
                    %}>
                    <a href="{{ url_for('site.user_profile') }}">
                        {% if active_page == "/user_profile" %}
                        <i class="now-ui-icons users_single-02" style="color: #141E30;"></i>
                        <p style="color: #141E30;">User Profile</p>
                        {% else %}
                        <i class="now-ui-icons users_single-02"></i>
                        <p >User Profile</p>
                        {% endif %}
                    </a>
                </li>

                <li {% if active_page == "/dashboard" %} class="active"{% endif
                    %}>
                    <a href="{{ url_for('site.dashboard') }}">
                        {% if active_page == "/dashboard" %}
                        <i class="now-ui-icons business_chart-bar-32" style="color: #141E30;"></i>
                        <p style="color: #141E30;">Dashboard </p>
                        {% else %}
                        <i class="now-ui-icons business_chart-bar-32"></i>
                        <p>Dashboard</p>
                        {% endif %}
                    </a>
                </li>

                <li {% if active_page == "/tool_location" %} class="active"{% endif
                    %}>
                    <a href="{{ url_for('site.map') }}">
                        {% if active_page == "/tool_location" %}
                        <i class="now-ui-icons location_pin" style="color: #141E30;"></i>
                        <p style="color: #141E30;">Tool Location</p>
                        {% else %}
                        <i class="now-ui-icons location_pin"></i>
                        <p>Tool Location</p>
                        {% endif %}
                    </a>
                </li>

                <li {% if active_page == "/history" %} class="active"{% endif
                    %}>
                    <a href="{{url_for('site.history')}}">

                        {% if active_page == "/history" %}
                        <i class="now-ui-icons education_paper" style="color: #141E30;"></i>
                        <p style="color: #141E30;">Tool History</p>
                        {% else %}
                        <i class="now-ui-icons education_paper"></i>
                        <p >Tool History</p>
                        {% endif %}
                    </a>
                </li>

                <li {% if active_page == "/tool_tracking" %} class="active"{% endif
                    %}>
                    <a href="{{url_for('site.tool_tracking')}}">

                        {% if active_page == "/tool_tracking" %}
                        <i class="now-ui-icons education_paper" style="color: #141E30;"></i>
                        <p style="color: #141E30;">Tool Tracking</p>
                        {% else %}
                        <i class="now-ui-icons education_paper"></i>
                        <p >Tool Tracking</p>
                        {% endif %}
                    </a>
                </li>

                {% else %}

                <li {% if active_page == "/login" %} class="active"{% endif
                    %}>
                    <a href="{{url_for('site.login')}}">

                        {% if active_page == "/login" %}
                        <i class="now-ui-icons gestures_tap-01" style="color: #141E30;"></i>
                        <p style="color: #141E30;">Login</p>
                        {% else %}
                        <i class="now-ui-icons gestures_tap-01"></i>
                        <p >Login</p>
                        {% endif %}
                    </a>
                </li>

                <li {% if active_page == "/signup" %} class="active"{% endif
                    %}>
                    <a href="{{url_for('site.signup')}}">

                        {% if active_page == "/signup" %}
                        <i class="now-ui-icons business_badge" style="color: #141E30;"></i>
                        <p style="color: #141E30;">Signup</p>
                        {% else %}
                        <i class="now-ui-icons business_badge"></i>
                        <p >Signup</p>
                        {% endif %}
                    </a>
                </li>

                {% endif %}

            </ul>
        </div>
    </div>
</div>